.guest-landing-form {
  background-color: #606c38;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  color: #fefae0;
}

.guest-label {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  margin-bottom: 7px;
  color: #fefae0;
}

.guest-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 6px;
  border: none;
  margin-top: 10px;
  box-sizing: border-box;
}

.guest-landing-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 6px;
  border: none;
  margin-top: 15px;
  box-sizing: border-box;
}

.guest-button,
.guest-submit-button {
  margin-top: 20px;
  background-color: #dda15e;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  color: #283618;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
}

.guest-button:hover,
.guest-submit-button:hover {
  background-color: #bc6c25;
}

.guest-paragraph {
  font-size: 16px;
  margin-bottom: 20px;
  color: #fefae0;
}

.guest-radio-label,
.guest-select-label,
.guest-checkbox-label {
  color: #fefae0;
  font-size: 18px;
  display: block;
  margin-top: 10px;
  cursor: pointer;
}

.guest-select {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: none;
  font-size: 16px;
}

.guest-error {
  color: #bc6c25;
  margin-top: 10px;
  font-weight: bold;
}

.guest-loading-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fefae0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #606c38;
}

.centered-content {
  min-height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.guest-form {
  max-width: 400px;
  width: 100%;
  background-color: #606c38;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  color: #fefae0;
}

.guest-title {
  max-width: 400px;
  margin: 0 auto 30px auto;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: #283618;
}

.guest-error {
  margin-top: 10px;
  color: #bc6c25;
  font-weight: bold;
}

.guest-submit-button {
  margin-top: 20px;
  background-color: #dda15e;
  border: none;
  padding: 14px 0;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  color: #283618;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
}

.guest-submit-button:hover {
  background-color: #bc6c25;
}

.guest-success {
  color: #fefae0;
  margin-top: 10px;
  font-weight: bold;
}

.guest-error {
  color: #bc6c25;
  margin-top: 10px;
  font-weight: bold;
}
