.resizable-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden; /* Prevent text overflow */
  word-wrap: break-word; /* Wrap long words */
  white-space: normal; /* Allow text to wrap to the next line */
  line-height: 1.2; /* Adjust line height for better spacing */
  width: 100%; /* Ensure it takes the full width of the parent */
  height: 100%; /* Ensure it takes the full height of the parent */
}

.resizable-text-part {
  display: block;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal;
  text-align: center;
}
